* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
    background-color: #2563EB;
}

.container-pagina {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
}

ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.li-alta {
    padding: 20px 15px;
    color: white;
    font-size: small;
}

.accedi {
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    font-size: small;
}

.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 525px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 100px 0 0 0;
}

h1 {
    padding: 70px 0 30px 0;
    font-size: xxx-large;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wite {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 15px 7px;

}

.button-black {
    background-color: black;
    color: white;
    padding: 11px;
    border-radius: 20px;
    margin: 15px 7px;
}

.immagine-testo {
    display: flex;
}

.immagine {
    width: 65%;
}

.testo {
    width: 35%;
}

.grey {
    background-color: lightgray;
    display: flex;
    flex-direction: row-reverse;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.star {
    background-image: url(../img/stars.svg);
    background-size: cover;
}

.container-star {
    display: flex;
    justify-content: center;
}

.container-scarica {
    display: flex;
    justify-content: center;
}

.bottone-scarica {
    background-color: #5865F2;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 10px 0 60px 0;
}


.bandiera {
    width: 2%;
    height: auto;
}

.content-footer {
    padding-top: 50px;
}

.color-blue {
    color: #1e90ff;
}

.bandiera {
    width: 2%;
    height: auto;
}

.liste-footer {
    color: white;
    padding-top: 15px;
}

.italia {
    background-color: black;
    border: none;
}

.section-footer {
    display: flex;
    flex-direction: column;
}

.finale {
    display: flex;
}

.ultima-sezione {
    width: 30%;
}

nav {
    width: 70%;
}

.li-bassa {
    display: flex;
    flex-direction: column;
} 
















/* debug  da togliere*/

.spazio-box {
    display: flex;
    width: 800px;
    height: 300px;
}

.spazio-gree-box {
    display: flex;
    width: 800px;
    height: 600px;
}

/* header {
    background-color: #ADD8E6;
    padding: 10px;
} */

.tabella {
    width: 800px;
    background-color: orange;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
}

.logo-alto {
    padding: 2px;
    width: 20%;
}

.link {
    padding: 2px;
    width: 60%;
    text-align: center;
}

.login {
    padding: 2px;
    width: 20%;
}



/* .hero-section {
    background-color: #0000aa;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.hero-item {
    width: 650px;
    height: 200px;
    background-color: #e677f6;
    align-items: center;
} 
 */
.container-wite {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container-gray {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: lightgray;
    flex-direction: row-reverse;
}

.blue-item {
    background-color: #1e90ff;
    width: 600px;
    height: 300px;
    align-items: center;

}

.pink-item {
    background-color: #ffc0cb;
    width: 400px;
    height: 300px;
    align-items: center;
}

.container-green-cube {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: lightgray;
    flex-direction: row-reverse;
}

.green-cube-item {
    background-color: green;
    width: 800px;
    height: 600px;
    align-items: center;
}

footer {
    background-color: black;

}

.container-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-bottom: 20px;
}

.red-item {
    width: 30%;
    background-color: #f08080;
}

.green-item {
    background-color: #20b2aa;
    width: calc(70% / 4);
}


.last-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.spazio {
    background-color: #7fffd4;
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-item {
    background-color: #ffb6c1;
    padding: 5px 5px;
}































