* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
    background-color: #2563EB;
}

.container-pagina {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
}

ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.li-alta {
    padding: 20px 15px;
    color: white;
    font-size: small;
}

.accedi {
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    font-size: small;
}

.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 525px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 100px 0 0 0;
}

h1 {
    padding: 70px 0 30px 0;
    font-size: xxx-large;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wite {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 15px 7px;

}

.button-black {
    background-color: black;
    color: white;
    padding: 11px;
    border-radius: 20px;
    margin: 15px 7px;
}

.immagine-testo {
    display: flex;
}

.immagine {
    width: 65%;
}

.testo {
    width: 35%;
}

.grey {
    background-color: lightgray;
    display: flex;
    flex-direction: row-reverse;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.star {
    background-image: url(../img/stars.svg);
    background-size: cover;
}

.container-star {
    display: flex;
    justify-content: center;
}

.container-scarica {
    display: flex;
    justify-content: center;
}

.bottone-scarica {
    background-color: #5865F2;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 10px 0 60px 0;
}

footer {
    background-color: black;

}

.bandiera {
    width: 2%;
    height: auto;
}

.content-footer {
    padding-top: 50px;
}

.color-blue {
    color: #1e90ff;
}

.bandiera {
    width: 4%;
    height: auto;
}

.liste-footer {
    color: white;
    padding-top: 15px;
}

.italia {
    background-color: black;
    border: none;
}

.section-footer {
    display: flex;
    flex-direction: column;
}

.finale {
    display: flex;
}

.ultima-sezione {
    width: 30%;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ol {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 50px;
}

.container-finale {
    padding-bottom: 50px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.registarti {
    background-color: #1e90ff;
    color: white;
    padding: 7px;
    border-radius: 15px;
    font-size: small;
}

